*{
  border: 1px solid #000;
  font-family: "Helvetica","sans-serif";
  color: #2b2b2b;
}

html{
  background-color: #f6ede4;
}
body{
  background-image: linear-gradient(rgba(109, 194, 219, 0.6), rgba(109, 194, 219, 0.6)),url('../img/change.jpeg');
  background-size: cover;
  background-position: center;
  width: 97%;
  padding: 0px;
  margin: 0px;
  margin: auto;
  margin-top: 1.5%;
  margin-bottom: 5%;
}
.container{
  width: 79%;
  margin: auto;
}
.header-inner{
  display: flex;
  align-items: center;
}
.logo{
  font-size: 2em;
  font-weight: 700;
  float: left;
  align-self: center;
}
.logo a{
  text-decoration: none;
}
.navbar{
  font-size: 1.2em;
  float: right;
}
.nav li{
  display: inline-block;
}
.nav li a{
  text-decoration: none;
  margin-left: 30px;
  border-bottom: 2px solid;
  border-bottom-color: transparent;
  transition: border-bottom-color 2s;
}
.nav li a:hover{
  border-bottom: 2px solid;
  border-bottom-color: #fff;
}
.cta-info{
  padding-left: 50px;
}
.cta-info h2{
  font-size: 64px;
  letter-spacing: 5px;
  text-shadow: 0 5px 5px rgba(0,0,0,0.2);
}
.cta-info p{
  font-size: 1.5em;
  letter-spacing: 2px;
  margin-bottom: 2.5em;
}
.after-box{
  clear: both;
}
.cta-button{
  padding: 13px 35px;
  color: #fff;
  text-decoration: none;
  border-radius: 50px;
}
